<section class="card-section">
  <button class="cta-see-all" (click)="onClick()">See all listings</button>
  <h1 id="not-sure-landing">Not sure what you are searching for?<br>
    Here are some filters to help you get started.</h1>

  <div class="circles-wrapper">

    <div class="circle">
      <img class="img-landing"  src="/assets/landing/Group%205.png">
      <p>Houses</p>
    </div>
    <div class="circle">
      <img class="img-landing"  src="/assets/landing/Group%2074.png">
      <p>Apartaments</p>
    </div>
    <div class="circle">
      <img class="img-landing"  src="/assets/landing/Group%2076.png">
      <p>Buy</p>
    </div>
    <div class="circle">
      <img  class="img-landing" src="/assets/landing/Group%2077.png">
      <p>Rent</p>
    </div>

  </div>

  <h1 id="howWorks">How it works</h1>
  <div class="cards-wrapper">
    <div class="card">
      <img class="img-landing" src="/assets/landing/Group%205.png">
      <p class="instructions">You cand search for the desired housing type, apply filters and personalize your experience.</p>
    </div>
    <div class="card">
      <img class="img-landing" src="/assets/landing/Group%205.png">
      <p class="instructions">Get accurate price predictions for your area of interest. </p>
    </div>
    <div class="card">
      <img class="img-landing" src src="/assets/landing/Group%205.png">
      <p class="instructions">Create an account, look for homes as a user, or upload a property as a seller!</p>
    </div>
  </div>
</section>
