<swiper [slidesPerView]="2.6" [spaceBetween]="50" [pagination]="{ type: 'fraction' }" [navigation]="true" [breakpoints]="breakpoints">

    <ng-template class="carousel-container" swiperSlide *ngFor="let item of data">
        <div class="image-container">
            <img class="images" src="{{item.download_url}}" alt="image" />
            <div class="image-description">

                <div class="details">{{item.author}} </div>
                <div class="details">Item id: {{item.id}}</div>

            </div>
        </div>

    </ng-template>

</swiper>