.user__seller--switcher {
  position: relative;
  top: -70%;
}
.user__seller--btns {
  position: absolute;
  top: 12%;
  left: 30%;
}

.user__seller--btns {
  position: absolute;
  top: 7%;
  left: 30%;
}
.user__info {
  margin-top: 5em;
  width: 20%;
  height: 90%;
}
.seller-page {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 20%;
  left: 20%;
  width: 80%;
  height: 70%;
}

.seller-house-panel--container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: 70%;
  padding: 0 1rem;
  top: -10%;
  right: 7%;
}

.seller-statistics--container {
  background-color: #fffdfd;
  position: relative;
  width: 35%;
  right: 5%;
  padding: 0.5rem 1rem;
  top: -70px;
}

.seller-house-panel-content--container {
  display: flex;
  flex-direction: column;
}
/* responsive design */
@media (max-width: 1412px) {
  .seller-statistics--container {
    top: 40%;
    left: -40%;
    width: 50%;
  }
  .seller-house-panel--container {
    left: 10%;
    width: 50%;
    /* background-color: yellow; */
  }
  .seller-page {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .seller-house-panel--container {
    left: 10%;
    width: 60%;
  }
  .seller-statistics--container {
    width: 60%;
  }
}
@media (max-width: 750px) {
  .seller-page .seller-house-panel--container {
    width: 1000%;
    left: 23%;
  }
  .seller-page {
    width: 85%;
    margin-left: -5%;
  }
  .seller-statistics--container {
    width: 700%;
    left: -43%;
  }
}
@media (max-width: 680px) {
  .seller-house-panel--container {
    width: 200%;
  }
  .user__seller--switcher {
    left: -5%;
  }
}
@media (max-width: 630px) {
  .user__seller--switcher {
    left: 5%;
  }
}
@media (max-width: 550px) {
  .seller-statistics--container {
    top: 40%;
    left: -30%;
  }
}
@media (max-width: 455px) {
  .user__seller--switcher {
    left: -10%;
  }
}
@media (max-width: 380px) {
  .user__seller--switcher {
    left: -20%;
  }
  .seller-statistics--container {
    left: -25%;
  }
}
