/* @font-face{
    font-family: Montserrat-regular;
    src:url(../../../../../../src/assets/fonts/Montserrat/Montserrat-Regular.ttf)
    
}
@font-face{
  font-family: Manrope-bold;
  src:url(../../../../../../src/assets/fonts/Manrope-Bold.ttf)
  
} */

.bkg-rectangle {
    height: 35vw;
    width: 25vw;
    background-color: #F2F2F2;
    /*margin-left: 1vw;*/
    /*margin-top: 1vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-width: 450px;
    min-height: 550px; */
    /* font-family: manrope; */
}

/* .button-wrapper{
    margin-top: 3vh;
} */

.form-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seller-name {
    font-size: 2vw;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family:Montserrat-regular ;
    color: #707070;
}

.form-elements textarea {
    width: 20vw;
    height: 12vw;
    padding: 10px;
    font-size: 15px;
    /* min-width: 400px; */
    font-family:Montserrat-regular;
}

#submit-btn {
    width: 20vw;
    height: 3vw;
    margin-top: 1vw;
    border-radius: 30px;
    font-weight: 550;
    font-size: 20px;
    border: none;
    background-color: #283655;
    color: #FFFFFF;
    font-family: Manrope-bold;
    outline: none;
}

input {
    font-family: Montserrat-regular;
    
}

.favorites-btn {
    width: 80%;
    height: 3vw;
    margin-top: 0.5vw;
    border-radius: 30px;
    font-weight: 550;
    font-size: 20px;
    border: none;
    background-color: #283655;
    color: #FFFFFF;
    font-family: Manrope-bold;
    cursor: pointer;
    outline: none;
}

.favorites-btn:hover {
    background-color: #4d648d;
}

#submit-btn:hover {
    background-color: #4d648d;
}
img{
    height:5vw;
    width:5vw;
}

@media(max-width:1000px){
    .bkg-rectangle {
        height: 65vw;
        width: 45vw;
    } 
    .form-elements textarea {
        width: 35vw;
        height: 25vw;
    }
    #submit-btn, .favorites-btn {
        width: 35vw;
        height: 6vw;
        font-size: 23px;
    }
     img{
        height: 10vw;
        width: 10vw;
    }

}
@media(max-width:800px){
    .bkg-rectangle {
        height: 85vw;
        width: 60vw;
    }
    .form-elements textarea {
        width: 80%;
        height: 30vw;
       
    }
    #submit-btn, .favorites-btn {
        width: 50vw;
        height: 7vw;
        font-size: 17px;
        margin-top: 2vw;
    }
    .seller-name {
        font-size: 25px;
    }
}

@media(max-width:450px){
    .bkg-rectangle {
        height: 90vw;
       width: 65vw;
    }
    .seller-name {
        font-size: 20px;
    }

    #submit-btn, .favorites-btn {
        margin-top:2vw;
    }

}

@media(max-width:325px){
    .bkg-rectangle {
        height: 100vw;
    }

    #submit-btn, .favorites-btn {
        font-size: 15px;
        height:9vw;
    }

.seller-name {
    font-size: 15px;
}
}
