/*@font-face {*/
/*    src: ".assets/fonts/Manrope-Regular.ttf";*/
/*    font-family: manrope;*/
/*}*/

/*@font-face {*/
/*    font-family: montserrat;*/
/*    src: "./assets/fonts/Montserrat-Regular.ttf";*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
.bkg-rectangle {
    height: 30vw;
    width: 100%;
    background-color: #F2F2F2;
    /*margin-left: 1vw;*/
    /*margin-top: 1vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: manrope;
}

.form-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seller-name {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: montserrat;
    color: #707070;
}

.form-elements textarea {
    width: 100%;
    height: 15vw;
    padding: 10px;
    font-size: 15px;
    font-family: montserrat;
}

#submit-btn {
    width: 100%;
    height: 2vw;
    margin-top: 1vw;
    border-radius: 30px;
    font-weight: 700;
    font-size: 23px;
    border: none;
    background-color: #283655;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    outline: none;
}

input {
    font-family: montserrat;
    font-weight: 200;
}

.favorites-btn {
    width: 100%;
    height: 2vw;
    margin-top: 0.5vw;
    border-radius: 30px;
    font-weight: 600;
    font-size: 23px;
    border: none;
    background-color: #283655;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    outline: none;
}

.favorites-btn:hover {
    background-color: #4d648d;
}

#submit-btn:hover {
    background-color: #4d648d;
}
img{
    height:5vw;
    width:5vw;
}

@media(max-width:1110px){
    .bkg-rectangle {
        height: 70vw;
        width: 50vw;
    }
    .form-elements textarea {
        width: 40vw;
        height: 30vw;
    }
    #submit-btn, .favorites-btn {
        width: 30vw;
        height: 7vw;
        font-size: 23px;
    }
    img{
        height: 10vw;
        width: 10vw;
    }

}
@media(max-width:800px){
    .bkg-rectangle {
        height: 85vw;
        width: 70vw;
    }
    .form-elements textarea {
        width: 60vw;
        height: 30vw;
    }
    #submit-btn, .favorites-btn {
        width: 50vw;
        height: 7vw;
        font-size: 17px;
    }
}
@media(max-width:320px){
    .bkg-rectangle {
        height: 90vw;
    }

    #submit-btn, .favorites-btn {
        font-size: 15px;
    }

.seller-name {
    font-size: 20px;
}
}
