<div class="bkg-rectangle">
    <img src=".\assets\person-circle.svg">
    <div class="seller-name">John Doe</div>
    <form class="form-elements" #userPost="ngForm" (ngSubmit)="onSubmit(userPost)">
        <!-- <input type="text" id="text-box" placeholder="Write a message to the seller..."> -->
        <textarea name="message"  placeholder="Write a message to the seller..." ngModel></textarea>
        <div>
          <button id="submit-btn" type="submit" >Send message</button>
          <button class="favorites-btn">Add to favorites</button>
        </div>
    </form>

</div>
