@font-face{
    font-family: Montserrat-regular;
    src:url(../../../../../../src/assets/fonts/Montserrat/Montserrat-Regular.ttf)
    
}
@font-face{
  font-family: Manrope-bold;
  src:url(../../../../../../src/assets/fonts/Manrope-Bold.ttf)
  
}
.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    color:#707070;
    align-self: center;
    font-family: Montserrat-regular;
    font-size: 17px;
    text-align: left;
}
.price{
    
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    right: 1rem;
    text-align:right;
    margin-top:4vw;
}
.details{
    
    margin-top: 1rem;
}
.column {
    float: left;
    width: 40%;

    height: fit-content;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;

  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
/* .description{
    position: relative;
} */
.description p{
    margin-right: 4rem;
    text-align: justify;
}
#price{
    font-size: 30px;
    color:#283655;
    font-family: Manrope-bold;
    
}
#pricem{
    font-size: 16px;
}
h1{
    font-size: 30px;
    font-family: Manrope-bold;
    font-weight: 500;
    
}
@media(max-width:850px){
    .column {
        float: left;
        width: 70%;

        height: fit-content;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
      .details{
        /* position:relative; */
        margin-top: 3rem;
    }
    .description p{
        margin-right: 0rem;
        text-align: justify;
    }
}
