form > * {
    font-family: 'Segoe UI';
    top: 7.5%;
    left: 3%;
    border-radius: 25px;
 
    
}
mat-form-field {
    border-radius: 25px;

}
.body {
    background-color: #283655;
    font-family: 'Segoe UI';
    font-size: 95% ;
    color: #888888;
    width: 100%;
    height: 100%;
}
.box {
    position: relative;
    top: 7.5%;
    left: 3%;
    border-radius: 25px;
    width: 94%;
    height: 85%;
    background-color: white;
    display: flex;
  flex-wrap: wrap;
    min-width: 0;
    min-height: 0;
    overflow: auto;
    padding:5px;


}
.buyer {
    background-color:  rgb(255, 255, 255);
    color: #283655;
    border-radius: 5px;
}
.seller {
    background-color:  rgb(255, 255, 255);
    color: #283655;
    border-radius: 5px;
}
#reg-button {
    width: 30%;
    height: 50px;
    margin-top: 65px;
    margin-bottom: 35px;
    font-size: 20px;
   margin-left: 30%;
    background:linear-gradient(90deg, rgba(77,100,141,1) 0%, rgba(226,224,255,1) 100%);
}

.leftSide {
    width: 60%;
    position: relative;
    left: 5%;
    margin-right: 5%;
    right:8%;
    padding-right: 8%;
}
mat-form-field {
  
    width:50%;
}
#bck_btn {
    position: relative;
  margin-bottom:7.5%;
    left: 0;
    color: #4D648D;
    font-weight: 500;
    font-size: 1.1em;
    background-color: transparent;
    border: none;
    padding-left:0;
   
}

#bck_arw {
    position: relative;
    top: 6px;
}
h2 {
    position:relative;
    top:5%;
    font-weight: bold;
    font-family: 'Segoe UI';


   font-size:1.5rem;
}
h2 span {
    color:#283655;
    font-weight: bold;
}
#selection {
    overflow: visible;
    margin-left:4%;
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    box-sizing: content-box;
width: 100%;
  border:0;

}
.selector  {
   
    height:2%;
    position:relative;
 
  font-size:1.5rem;
  margin-bottom:1rem;
  color: #283655;
  justify-self: auto;


}
.selector > div {
padding:3px;
border-radius: 10px;
background-color:#283655;
outline:none;
}
mat-button-toggle {
    font-weight: bold;
    background-color:#283655;
    color:#ffffff;
    outline:none;
}
mat-button-toggle-group{
    border:0;
}
.break-column {
    flex-basis: 100%;
    width: 0;
  }
.rightSide{
    background-color: rgb(23, 245, 171);
  height:100%;
width:100%;
align-self: flex-start;
display:none;
}

:root {
    scrollbar-width: none !important;
}

.box::-webkit-scrollbar {
    display: none;
}
:-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 1000px) {
    #selection {
        flex-direction:column;
    }
    #reg-button {
        font-size:15px;
    }
    
    mat-form-field {
  
        width:100%;
    }
  
}
@media screen and (max-width: 700px) {
#reg-button {
    font-size:10px;
}
}
@media screen and (max-width: 520px) {
    .selector  {
        font-size:1rem;
    }
    }
    @media screen and (max-width: 440px) {
        .selector  {
            font-size:0.5rem;
        }
        }

@media  screen and (max-height: 500px) {



    mat-form-field {
  
        width:100%;
    }
  
  
}
