.dashboard-statistics--container {
    width: 100%;
    height: 100%;
  }
  
  .statistics-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.3rem 0.5rem;
    padding: 0;
    color: #707070;
  }
  