@font-face{
    font-family: Montserrat-regular;
    src:url(../../../../../src/assets/fonts/Montserrat/Montserrat-Regular.ttf)
    
}
@font-face{
  font-family: Manrope-bold;
  src:url(../../../../../src/assets/fonts/Manrope-bold.ttf)
  
}
.first-row{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 4vw;

}
p{
  font-size: 30px;
    font-family: Manrope-bold;
    font-weight: 500;
    color:#707070;
}
app-base64gallery{
  /* width: 60vw; */
  align-self: center;
  margin-right: 20px;;
}

@media (max-width: 1110px) {
  .first-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

   app-user-contact {
    align-self: center;
    margin-top: 20px;
  } 

  app-base64gallery{
    margin: 0px;
  }
}