<mat-dialog-content class="body">
    <button id="bck_btn" (click)="goToLogin()" style="cursor: pointer;">
        <mat-icon id="bck_arw" matSuffix>arrow_back</mat-icon>
        Back
    </button>

    <div class="content">
        <div class="left">
            <p>
                You have successfully registered! 
            </p>
            <p>
                Check your email to activate your account!
            </p>
        </div>
        <div class="right">
            <img src="../../../../assets/register_buildings.png" alt="buildings" width="120%" style="justify-self: flex-end; align-self: flex-end;">
        </div>
    </div>
</mat-dialog-content>