<div>
    <mat-toolbar class="mat-elevation">
        <div class="showing" fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        </div>

        <div class="showingBar" fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink='home'>Home</a>
            <a mat-button routerLink='about'>About</a>

        </div>
        <span class="spacer"></span>

        <div class="showingBar" fxShow="true" fxHide.lt-md="true">
            <a class="login-btn" mat-button routerLink='login'>Log in<mat-icon id="accountIcon">account_circle</mat-icon></a>

        </div>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill class="example-container">

        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">

            <div class=" menu-items" fxLayout="column">
                <div>
                    <a mat-button routerLink='home'>Home</a>
                </div>
                <div>
                    <a mat-button routerLink='about'>About</a>
                </div>
                <div>
                    <a mat-button routerLink='login'>Log in</a>
                </div>

            </div>
        </mat-sidenav>

    </mat-sidenav-container>

</div>