.panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 5%;
    border-radius: 3vh;
    color: #888888;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    flex-wrap: wrap;
    max-width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-form {
    width: 90%;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
}

.log_btn {
    background-color: rgba(40,54,85,0.929);
    color: white;
    margin: 5%;
}

@media screen and (max-width: 1125px) {
    .right {
        display: none;
    }
}