* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #707070;
}

.seller-house-panel--container {
  padding: 1em 0.6em;
  margin-left: 2rem;
  height: 6em;
  position: relative;
  display: flex;
  box-shadow: #6f6f6f 0 0 0.5em;
}

.seller-house-panel--container img {
  height: 100%;
  display: inline;
}

.seller-house-panel-content--container {
  margin: -0.5rem 2rem 0 1rem;
}

.panel-title--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-title {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #707070;
  padding: 0;
  margin: 0;
}

.panel-content {
  font-family: "Manrope", sans-serif;
  color: #707070;
}

.panel-content-price {
  font-size: 0.8rem;
  margin-bottom: 0.45rem;
}

.panel-content-likes {
  position: absolute;
  font-size: 0.9rem;
  right: 3em;
  margin: 0;
}

.panel-content-text {
  overflow: hidden;
  height: 3.5em;
}

#settings-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 0 0 0.5rem 0.5rem;
}

.dropdown-menu--container {
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 0;
}

.dropdown-menu-content {
  position: absolute;
  right: 0;
  top: 2rem;
  display: none;
}

.dropdown-menu-content * {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  margin: 0;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.7rem;
  background-color: #f2f2f2;
}

.dropdown-menu-content a:hover {
  background-color: #ebebeb;
}

#delete-btn {
  outline: none;
  background-color: #e1342e;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
}

#delete-btn:hover {
  background-color: #de4541;
}

.dropdown-menu--container:hover .dropdown-menu-content {
  display: block;
}

/* Loading house animation */
.loading-house--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading-bullet {
  display: block;
  height: 1em;
  width: 1em;
  margin-right: 1.2em;
  border-radius: 50%;
  background-color: #acacac;
  animation: loading 1s cubic-bezier(.04,.57,.67,.98) infinite;
}

@keyframes loading {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(15px);
  }
  50%{
    transform: translateX(-15px);
  }
  100%{
    transform: translateX(0);
  }
}

.loading-bullet:nth-child(1){
  animation-delay: 0.1s;
}

.loading-bullet:nth-child(2){
  animation-delay: 0.2s;
}

.loading-bullet:nth-child(3){
  animation-delay: 0.3s;
}
