/* .carousel-container swiper-slide swiper-slide-next {
    width: 242px !important;
} */
/* @font-face{
  font-family: Montserrat-regular;
  src:url(../../../../../src/assets/fonts/Montserrat/Montserrat-Regular.ttf)
} */
::ng-deep.image-container{
  width: 100% !important;
}
::ng-deep.swiper-button-next:after,.custom-swiper-button-next:after{
  content: "play_arrow";
  font-family: "Material Icons";
  width:45px ;
  height:45px;
  /* margin-top: 0px !important;
position: absolute !important;
top: 50% !important;
right: -40px !important;
width: 45px !important;
height: 45px !important;
transform: translateY(-50%) !important; */
}
::ng-deep.swiper-button-prev:after,.custom-swiper-button-prev{
  content: "play_arrow";
  transform: rotate(180deg) !important;
  font-family: "Material Icons";
  width:45px ;
  height:45px;
}

swiper{
  max-width:1650px;
}
p {
  margin: none;
  width: fit-content;
  block-size: fit-content;
}

.carousel-container{
  height: 12vw;
}
.image-container {
  cursor: pointer !important;
  border: 0px;
  height: 165px;
  width: 242px;
  border-style: solid;
  border-color: rgb(204, 203, 203);
  -moz-box-shadow: 3px 0px 5px 6px #ccc;
  -webkit-box-shadow: 3px 0px 5px 6px #ccc;
  box-shadow: 3px -3px 5px #ccc;
  width: fit-content;
  block-size: fit-content;
  max-width: 350px;
}

.image-description {
  height: 100px;
  border-style: solid;
  border-top: none;
  border-width: 1px;
  border-color: rgb(204, 203, 203);
  -moz-box-shadow: 0px 3px 5px 6px #ccc;
  -webkit-box-shadow: 0px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  /* width: fit-content; */
  block-size: fit-content;
  flex-grow: 1;
  font-size: 20px;
  font-family: Montserrat-regular;
  white-space: normal;
  max-width: 350px;
  max-height: 80px;
}

.images {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 170px;
}

.details {
  width: fit-content;
  block-size: fit-content;
}

.transition {
  transition: 0.25s ease, color 0.25s ease;
}

.swiper-container {
  width: 70%;
  height: 40%;
}

.swiper-slide {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.details_price{
  font-weight: bolder;
  font-size: 1.75vw;
  color: #707070;
}

@media screen and (max-width: 1200px) {
  .image-container {
    max-height: 250px;
    width: 100%;
  }
  .image-description {
    height: 60px;
    width: 100%;
    font-size: 14px;
  }
  .images {
    height: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .image-container {
    max-height: 210px;
    width: 100%;
    
  }

  .image-description{
    font-size: 2.5vw;
  }

  .images {
    height: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .image-container {
    max-height: 180px;
    width: 100%;
  }

  .images {
    height: 120px;
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .image-container {
    width: 100%;
    max-height: 160px;
  }
  .image-description {
    height: 55px;
    width: 100%;
    font-size: 3vw;
  }
  .images {
    height: 100px;
    width: 100%;
  }
  
.swiper-button-prev:after,.swiper-button-next:after{
  font-size: 30px !important;
}
}

@media screen and (max-width: 350px) {
  .image-container {
    width: 7vw;
    max-height: 140px;

  }
  .image-description {
    height: 60px;
    width: 100%;
    font-size: 4vw;
  }
  .images {
    height: 80px;
    width: 100%;
  }
}

.swiper-button-prev{
  margin-right: 2vw;
}


@media screen and (min-width: 1650px) {
.swiper-container{
  width:49%;
  max-width: 1110px;
}
.swiper-button-prev, .swiper-button-next{
  margin-top:-120px !important;
  z-index: 5;
}


}
@media screen and (min-width: 1500px) {
    .image-container{
      width: 100%;
      max-width:unset;
    }
    .swiper-container{
      width:64vw;
      max-width: unset;
      height:55%;
    }
    .image-description{
      width: 100%;
      max-width:unset;
    }
}