<div class="gallery">

    <img class="image" src=".\assets\house.png">

    <ul id="thumbnailList">
        <li>
            <img class="image" src=".\assets\house.png" width="191" height="131">
        </li>
        <li>
            <img class="image" src=".\assets\house.png" width="191" height="131">
        </li>
        <li>
            <img class="image" src=".\assets\house.png" width="191" height="131">
        </li>
        <li>
            <img class="image" src=".\assets\house.png" width="191" height="131">
        </li>


    </ul>

</div>