.container{
    width: 80%;
    margin-left: 4rem;
    margin-right: 4rem;
    height: fit-content;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    position:relative;
    color: rgb(92, 92, 92);
    align-self: center;
}
.price{
    position:absolute;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    right: 1rem;
}
.details{
    position:relative;
    margin-top: 1rem;
}
.column {
    float: left;
    width: 40%;

    height: fit-content;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;

  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.description{
    position: relative;
}
.description p{
    margin-right: 4rem;
    text-align: justify;
}
#price{
    font-size: 25px;
    font-weight: bold ;
    color: rgb(30, 30, 80);
}
h1{
    font-size: 25px;
}
@media(max-width:850px){
    .column {  
        float: left;
        width: 70%;
        
        height: fit-content;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column; 
      }
      .details{
        position:relative;
        margin-top: 3rem;
    }

}