<div class="container" >
<div class="price">
    <a id="price" >{{dataToDisplay.id}}€</a>
    <a id="pricem">{{dataToDisplay.id}}€/m<sup>2</sup></a>
</div>
<div class="details">
    <h1>Date despre apartamnet: </h1>
    <div class="row">
        <div class="column">
            <a>Locatie: {{dataToDisplay.author}} </a>
            <a>Numar camere: {{dataToDisplay.url}} </a>
            <a>Etaj: {{dataToDisplay.download_url}}</a>
        </div>
        <div class="column">
            <a>Suprafata utila: {{dataToDisplay.author}}m<sup>2</sup></a>
            <a>Numar bai: {{dataToDisplay.author}}</a>
            <a>Tip imobil: {{dataToDisplay.author}}</a>
        </div>
    </div>
</div>
<div class="description">
    <h1> Description</h1>
    <p>{{dataToDisplay.author}}</p>
</div>
</div>

