<p>footer works!</p>
<!-- Footer -->

<footer class="page-footer">

   <div class="row">
   
        <div class="column">
          <h5 class="text-uppercase">Links1</h5>
          <li>
            <a href="#">Link1</a>
          </li>
          <li>
            <a href="#">Link2</a>
          </li>
          <li>
            <a href="#">Link3</a>
          </li>
          <li>
            <a href="#">Link4</a>
          </li>
        </div>


        <div class="column">
          <h5 class="text-uppercase">Links2</h5>
          <li>
            <a href="#">Link2-1</a>
          </li>
          <li>
            <a href="#">Link2-2</a>
          </li>
          <li>
            <a href="#">Link2-3</a>
          </li>
          <li>
            <a href="#">Link2-4</a>
          </li>
        </div>


        <div class="column ">
          <h5 class="text-uppercase">Links3</h5>
          <li>
            <a href="#">Link3-1</a>
          </li>
          <li>
            <a href="#">Link3-2</a>
          </li>
          <li>
            <a href="#">Link3-3</a>
          </li>
          <li>
            <a href="#">Link3-4</a>
          </li>
        </div>


        <div class="column ">
          <h5 class="text-uppercase">Links4</h5>
          <li>
            <a href="#">Link4-1</a>
          </li>
          <li>
            <a href="#">Link4-2</a>
          </li>
          <li>
            <a href="#">Link4-3</a>
          </li>
          <li>
            <a href="#">Link4-4</a>
          </li>
        </div>
   </div>


</footer>

  <!-- Footer -->