.dashboard-panel--container {
  width: 100%;
  height: 100%;
}

.dashboard-house-list {
  padding: 1.5rem 1rem 0 0;
  height: 80%;
  width: 100%;
  list-style: none;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 3rem;
  left: -1em;
}

.dashboard-house-list li {
  margin: 0 0.5rem 2.5rem 0.5rem;
}

.dashboard-title {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #707070;
  position: absolute;
  transform: translate(0, -100%);
}

/* Scrollbar settings */

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #9d9d9d;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}
