<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<div class="card" *ngIf="forumPost !== undefined">
  <section class="card-info">
    <div class=first-line>
      <a class="icon-display">
        <mat-icon id="user-icon">account_circle</mat-icon>
      </a>
      <div class="text">
        <a>
          <a class="author">
            {{forumPost.author.username}} asked:
          </a>

          <a class="question">
            {{forumPost.title}}
          </a>
        </a>
      </div>

      <div class="textarea">
        <mat-card>
          <mat-card-content>{{forumPost.content}}</mat-card-content>
        </mat-card>
      </div>
      <div class="info">

        <span class="details">
          <mat-icon>chat</mat-icon>
          <a>
            {{forumPost.comments.length}} answers</a>
        </span>

        <span class="details" (click)="like()">
          <mat-icon *ngIf="liked">favorite</mat-icon>
          <mat-icon *ngIf="!liked">favorite_border</mat-icon>
          bookmark question
        </span>

        <span class="details" (click)="report()">
          <mat-icon *ngIf="reported">flag</mat-icon>
          <mat-icon *ngIf="!reported">outlined_flag</mat-icon>
          report question
        </span>
      </div>
    </div>

    <ng-content></ng-content>
  </section>
</div>