<div class="bkg-rectangle">
    <img src=".\assets\person-circle.svg">
    <div class="seller-name">John Doe</div>
    <form class="form-elements">
        <!-- <input type="text" id="text-box" placeholder="Write a message to the seller..."> -->
        <textarea placeholder="Write a message to the seller..."></textarea>
        <div>
            <input id="submit-btn" type="submit" value="Send message">
        </div>
    </form>
    <button class="favorites-btn">Add to favorites</button>
</div>