<div class="search-wrapper">
    <h1>Home is where our story begins....</h1>

    <form id="search-form" class="form-search">
        <div class="search-type-wrapper">
            <label for="type1">
        Buy
        <input type="radio" id="type1"  name="type" value="Buy">
      </label>
            <label for="type2">
    Rent
    <input type="radio" id="type2" name="type" value="Rent">
  </label>
        </div>
        <div class="search-input-wrapper">
            <mat-icon>search</mat-icon>
            <input type="text">
            <select>
        <option value="" disabled selected hidden>Type</option>
        <option>Apartament</option>p
        <option>Casa</option>
      </select>
            <button type="submit">Submit</button>
        </div>

    </form>
</div>