<div class="search-wrapper">
  <img id="landing-image" src="/assets/landing/pc.png">
  <h1>Welcome to House Price Prediction</h1>
  <img id="house-image" src="/assets/landing/undraw_house_searching_n8mp%20(1).png">


    <form id="search-form" class="form-search" #searchForm="ngForm" (ngSubmit)="getValues(searchForm.value)">
        <ul class="search-type-wrapper">
          <li>
            <input type="radio" id="type1"  name="type" value="0" ngModel>
            <label for="type1">  Buy </label>

          </li>
<li>
  <div>|</div>
</li>
         <li>
           <input type="radio" id="type2" name="type" value="1" ngModel>
           <label for="type2">Rent</label>
         </li>

        </ul>
        <div class="search-input-wrapper">

            <input type="text" name="string" placeholder="Search for a location" ngModel>
          <div>|</div>
            <select class="classic" name="housing" ngModel>

        <option value="" disabled selected hidden>Housing type</option>
        <option value="1">Apartament</option>
        <option value="0">Casa</option>
      </select>
            <button type="submit"><mat-icon>search</mat-icon></button>
        </div>

    </form>
</div>
