
@font-face {
    font-family: Manrope-bold;
    src: "./assets/fonts/Manrope-Bold.ttf";
}

html{
    font-family: Montserrat;
   
}

form{
    display: flex;
    position: relative;
    color: #707070;
    padding-top: 100px;
    align-items: center;
}

.form-control{
    
    top: 20%;
    left: 70%; 
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    width:400%;
    
}
#inner1 {
    float:left; 
 }
 
 #inner2{
     margin-top: 4em;
    float:left; 
    clear: left;
 }
 
 #wrapper{
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
}

#submit{
    display: flex;
    position: relative;
    margin-top: 5em;
    margin-right: 3em;
    align-items: center;
}

@media screen and (max-width:1000px) {
    mat-form-field{
        font-size: 20px;
    }
}