.center {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 12em;
  left: 40em;
  height: 50%;
  width: 50%;
}
.user__seller--switcher {
  position: absolute;
  top: 5%;
  left: 30%;
}
.user__seller--btns {
  position: absolute;
  top: 1%;
  left: -10%;
}
