div {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-around;
  }
  
  .center {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: absolute;
    top: 10%;
    left: 25%;
    height: 75%;
    width: 75%;
  }
  
  div {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 80%;
    align-self: center;
    justify-content: space-around;
  }
  
  .center {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: absolute;
    top: 20em;
    left: 40em;
    height: 50%;
    width: 50%;
  }
  .user__seller--btns {
    position: absolute;
    top: 1%;
    left: -10%;
  }