.pagination-listing {
  position: relative;
margin:1vw auto;
width:fit-content;
}
.list-page{
max-width:1920px;
margin: 0 auto;
}
#search-form input[type="text"]:focus {outline:0;

}
form{
  margin-top: 3vw;
}
.search-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
position: relative;
margin:0 auto;

}
::ng-deep.ngx-pagination{
  padding-left:0;
}
#search-form input[type="text"] {
  padding: 1.05vw;
  width: 100%;
  border: 0;
  border-radius: 300px 300px 300px 300px;
  background: #DFDFDF 0% 0% no-repeat padding-box;
  margin-top: 1.25vw;
  margin-bottom: 5%;
margin-left:auto;
margin-right: auto;
}

#submit {
  background: none;
  border: none;
  right: 0;
  top:1.90vw;
  position: absolute;
}
.submit-icon{
font-size:2.5vw;
}
.browsing {
text-align: center;
  font-size: 3.5vw;
  font-weight: bold;
  color: rgb(97, 97, 97);
  /*margin-left: 9.5vw;*/
}


.first-row{
display:flex;
flex-direction: row;
flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

.form1
select {
  margin-left: 3vw;
  margin-top: 2vw;
  border-radius: 10px;
  color: grey;
  font-size:1.5vw;
}

.form2
select {
 margin-left: 0.8vw;
  margin-top: 2vw;
  border-radius: 10px;
  font-size:1.5vw;
  color: grey;
}

.form3
select {
margin-left: 0.8vw;
margin-top: 2vw;
border-radius: 10px;
  color: grey;
  font-size:1.5vw;
}

.form4
select {
margin-left: 0.8vw;
margin-top: 2vw;
border-radius: 10px;
  color: grey;
  font-size:1.5vw;
}

.form5
select {
margin-left: 0.8vw;
margin-top: 2vw;
border-radius: 10px;
  color: grey;
  font-size:1.5vw;
}

.form6
select {
margin-left: 0.8vw;
margin-top: 2vw;
border-radius: 10px;
  color: grey;
  font-size:1.5vw;
}
.form7
select
{
 margin-left: 0.8vw;
  margin-top: 2vw;
  border-radius: 10px;
  color: grey;
  font-size:1.5vw;

}
#listing_pagination{
  font-size:2.5vw;
}
@media(max-width:600px){
.form7
select{
  font-size: 3vw;
}
.form6
select{
  font-size: 3vw;
}
.form5
select{
  font-size: 3vw;
}
.form4
select{
  font-size: 3vw;
}
.form3
select{
  font-size: 3vw;
}
.form2
select{
  font-size: 3vw;
}
.form1
select{
  font-size: 3vw;
}


}


@media(max-width:900px){
  .browsing{
    font-size:10vw;
    margin: 3vw auto;
  }
 form select {
   font-size:4vw
 }
  #listing_pagination {
    font-size: 4.5vw;
  }
}






