.component {
    display: flex;
    flex-direction: column;
  }
  
  select{
    padding: 8px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid rgba(159, 159, 159, 0.7);
  }
  
  select option{
    padding: 10px;
    font-family: Manrope, serif;
    font-style: normal;
    font-size: small;
  }
  
  .form-group label {
    text-align: left;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: small;
    color: rgba(159, 159, 159, 1);
    width: 50%;
    margin-right: 2em;
  }
  .form-group input {
    width: 100%;
    text-align: center;
  }
  
  .error_text{
    display: flex;
    flex-direction: column;
  }
  
  div .alert{
    width: 100%;
    height: 50%;
    font-size: smaller;
    padding: 5px;
    text-align: center;
    margin: 0;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 100px;
  }
  
  .btn-primary {
    background-color: #283655;
  }
  
  #chooseFile {
    margin-left: 10%;
    background-color: #283655;
  }
  
  form button {
    white-space: nowrap;
    width: 70%;
    text-align: center;
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: 500;
    font-size: medium;
    color: rgba(255, 255, 255, 1);
  }
  
  #title {
    align-self: flex-start;
    justify-self: center;
    margin-bottom: 1.5em;
    white-space: nowrap;
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: rgba(112, 112, 112, 1);
  }
  
  .textBtn {
    white-space: nowrap;
    text-align: center;
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: bolder;
    font-size: large;
    color: rgba(255, 255, 255, 1);
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
  }
  
  #addBtn {
    height: 10%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    padding: 5px 6em;
    align-self: center;
    margin-left: 6em;
  }
  
  #addBtn p {
    font-size: larger;
    font-weight: 900;
    white-space: nowrap;
    margin: 0 1em 0 0;
    padding: 0;
    align-self: center;
    color: white;
  }
  
  form p {
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: medium;
    color: rgba(40, 54, 85, 1);
  }
  
  form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .columnForm {
    margin-right: 1em;
  }
  