<form id="search-form" class="form-search">
  <div class="search-input-wrapper">
    <input type="text" name="string" placeholder="Search for a location" ngModel>

    <button id="submit" type="submit"><mat-icon>search</mat-icon></button>
  </div>

</form>


<div class="list" *ngFor="let item of data |  paginate: { id: 'listing_pagination', itemsPerPage: 5, currentPage: page,totalItems:totalRecords}">
  <img class="images" src="{{item.download_url}}" alt="image">
  <div class="house-description">
    <button id="favorite" mat-icon-button (click)="toggleSelected()">

      <mat-icon
        *ngIf="selected"
        aria-label="Example icon-button with a heart icon">
        favorite
      </mat-icon>

      <mat-icon
        *ngIf="!selected"
        aria-label="Example icon-button with a heart icon">
        favorite_border
      </mat-icon>

    </button>
    <div class="details title">{{item.author}} </div>
    <div class="details location">{{item.id}}</div>
    <div class="details room">Rooms</div>
    <div class="details surface">Surface</div>
    <div class="details type">Type</div>
    <div class="details seller"><a href="#">Contact seller</a></div>
    <div class="details detail"><a href="#">View details</a></div>

  </div>


</div>

<div class="pagination-listing">
  <pagination-controls id="listing_pagination" directionsLink="true" (pageChange)="page=$event"></pagination-controls>
</div>
