<form id="search-form" class="form-search">
  <div class="search-input-wrapper">
    <input type="text" name="string" ngModel>

    <button id="submit" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="browsing">
    Browsing listings
  </div>

  <div class="form">
    <div class="form1">

      <select id="select1">
        <option value="rooms"> Rooms Number</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="5">6</option>
        <option value="5">7</option>
        <option value="5">8</option>
        <option value="5">9</option>
        <option value="5">10+</option>

      </select>


    </div>
    <div class="form2">

      <select id="select2">
        <option value="price"> Minimum Price</option>
        <option value="1">10.000</option>
        <option value="2">15.000</option>
        <option value="3">30.000</option>
        <option value="4">40.000</option>
        <option value="5">50.000</option>
        <option value="5">60.000</option>
        <option value="5">70.000</option>
        <option value="5">80.000</option>
        <option value="5">90.000</option>
        <option value="5">100.000+</option>

      </select>


    </div>


    <div class="form3">

      <select id="select3">
        <option value="price"> Maximum Price</option>
        <option value="1">10.000</option>
        <option value="2">15.000</option>
        <option value="3">30.000</option>
        <option value="4">40.000</option>
        <option value="5">50.000</option>
        <option value="5">60.000</option>
        <option value="5">70.000</option>
        <option value="5">80.000</option>
        <option value="5">90.000</option>
        <option value="5">100.000</option>

      </select>


    </div>
    <div class="form4">

      <select id="select4">
        <option value="floor"> Surface</option>
        <option value="1">30mp</option>
        <option value="2">40mp</option>
        <option value="3">50mp</option>
        <option value="4">60mp</option>
        <option value="5">70mp</option>
        <option value="5">80mp</option>
        <option value="5">90mp</option>
        <option value="5">100mp</option>
        <option value="5">125mp</option>
        <option value="5">150mp</option>
        <option value="5">175mp</option>
        <option value="5">200mp</option>

      </select>


    </div>
    <div class="form5">

      <select id="select5">
        <option value="rooms"> Usable area</option>
        <option value="1">30mp</option>
        <option value="2">40mp</option>
        <option value="3">50mp</option>
        <option value="4">60mp</option>
        <option value="5">70mp</option>
        <option value="5">80mp</option>
        <option value="5">90mp</option>
        <option value="5">100mp</option>
        <option value="5">125mp</option>
        <option value="5">150mp</option>
        <option value="5">175mp</option>
        <option value="5">200mp</option>

      </select>


    </div>
    <div class="form6">

      <select id="select6">
        <option value="rooms"> Bathrooms Number</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>

      </select>
    </div>
  </div>

</form>

<div class="list"
     *ngFor="let item of data |  paginate: { id: 'listing_pagination', itemsPerPage: 8, currentPage: page,totalItems:totalRecords}">
  <div class="image-wrapper-list">
    <img class="images" [src]="item.photos[0]!=undefined ? item.photos[0] : '/assets/house.png'" alt="image">

  </div>
  <button id="favorite" mat-icon-button (click)="toggleSelected()">

    <mat-icon
      *ngIf="selected"
      aria-label="Example icon-button with a heart icon">
      favorite
    </mat-icon>

    <mat-icon
      *ngIf="!selected"
      aria-label="Example icon-button with a heart icon">
      favorite_border
    </mat-icon>

  </button>
  <div class="house-description">
    <div class="house-details-wrapper">
      <div class="details title">{{item.title}} </div>

      <div class="details location">{{item.city}}</div>
      <div class="details room">Rooms : {{item.noOfRooms}}</div>
      <div class="details surface">Surface: {{item.surface}}</div>
      <div class="details type">Type:
        <div *ngIf="item.sellType==1; else elseBlock">Rent</div>
        <ng-template #elseBlock>Buy</ng-template>
      </div>
    </div>
    <div class="price-wrapper">
      <div class="details price">Price : {{item.currentPrice}}</div>
      <div class="details detail"><a routerLink="/house-details/{{item.houseID}}">View details</a></div>
    </div>


  </div>


</div>

<div class="pagination-listing">
  <pagination-controls id="listing_pagination" directionsLink="true" (pageChange)="page=$event"></pagination-controls>
</div>
