* {
  position: absolute;
}

.dashboard-btn--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
  height: 50px;
  white-space: nowrap;
  background-color: #283655;
  border-radius: 10px;
}

.dashboard--btn {
  position: relative;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-size: 25px;
  margin-right: 5%;
  padding: 0 5px;
  height: 65%;
  width: 30%;
  left: 2%;
  cursor: pointer;
}

.active__state {
  background-color: #fff;
  color: #283655;
  border-radius: 10px;
  font-weight: 700;
  width: fit-content;
}
/* responsive design */
@media (max-width: 1150px) {
  .dashboard-btn--container {
    margin-left: 0;
    width: 420px;
    height: 40px;
  }
  .dashboard--btn {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .dashboard-btn--container {
    width: 330px;
    height: 30px;
  }
  .dashboard--btn {
    font-size: 15px;
  }
}
