* {
  position: absolute;
}

.dashboard-btn--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  height: 35px;
  white-space: nowrap;
  background-color: #283655;
  border-radius: 10px;
}

.dashboard--btn {
  position: relative;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-size: 20px;
  margin-right: 5%;
  padding: 0 5px;
  height: 65%;
  width: 30%;
  left: 2%;
  cursor: pointer;
}

.active__state {
  background-color: #fff;
  color: #283655;
  border-radius: 10px;
  font-weight: 700;
  width: fit-content;
}
/* responsive design */

@media (max-width: 1412px) {
  .dashboard-btn--container {
    margin-left: 8.5em;
  }
}
@media (max-width: 1050px) {
  .dashboard-btn--container {
    margin-left: 10em;
  }
}
@media (max-width: 850px) {
  .dashboard-btn--container {
    font-size: 13px;
    width: 32em;
    height: 2.2em;
    margin-left: 8em;
  }
}
@media (max-width: 630px) {
  .dashboard-btn--container {
    width: 20em;
    height: 1.8em;
  }
  .dashboard--btn {
    font-size: 11.5px;
  }
}
