<div class="container-footer">
  <div class="footer">
    <img class="image" src="./assets/logoWhite.png" alt="logo" >
    <div class="footer-content">
    <div class="content-paragraph">

      <div >
        Faculty of Informatics Iași
      </div>
      <div>
        Team A6
      </div>
      <div>
        <img class="copyright" src="./assets/copyright.svg" alt="@" >
        2021
      </div>
    </div>
    <div class="contact">
      <div>
        Contact:
      </div>
      <a href = "mailto: housepredictionlogin@gmail.com"  style="color:#93B7EA">housepredictionlogin@gmail.com</a>
    </div>
    </div>


  </div>
</div>