
@font-face {
    font-family: Manrope-bold;
    /* src: url(./assets/fonts/Manrope-Bold.ttf); */
    src: "./assets/fonts/Manrope-Bold.ttf";
}

html{
    font-family: Montserrat;
}

.author{
    font-size: 48px;
    color: #283655;
    font-weight: bold;
    margin: 0em 0em 0em 3.5em;
}

.textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(207, 207, 207), 
                0 1px 1px 0 rgb(97, 97, 97), 
                0 1px 3px 0 rgb(77, 77, 77);
}

.mat-card{
    position: relative;
    margin-inline: 13em 13em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    color: #707070;
}

.question{
    font-size: 48px;
    color: #707070;
    font-weight: bold;
}

.spacer {
    flex: 1 1 auto;
}

.material-icons
 {
    color: #707070;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px; 
}

#user-icon{
    position:relative;
    top:1.35em;
    left:1.5em;
    font-size: 48px;
}

a{
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
    
}

.details{
    display:inline-block;  
    color: #707070;
}

.card-info{
    position: relative; 
    margin:auto; 
}

.info{
    margin: 0em 0em 0em 10.5em;
    
}

.card{
    position: relative;
    bottom: 5rem;
    top:0rem; 
    padding-bottom: 5em;
    padding-top: 2em; 
}

@media screen and (max-width:440px){
    #user-icon{
        font-size: 30px;
        top:-2.5em;
        left:0em;
    }

    .author{
        font-size: 18px;
        color: #283655;
        font-weight: bold;
        margin: 0em 0em 0em 0.5em;
        position: relative;
        top: -70px;
    }

    .question{
        font-size: 18px;
        color: #707070;
        font-weight: bold;
        position: relative;
        margin: 0em 0em 0em 0.5em;
        top: -70px;
    }

    .mat-card {
        position: relative;
        margin-inline: 3em 6em;
        margin-top: -10em;
        margin-bottom: 3em;
        color: #707070;
    }

    .details{
        color: #707070;
        margin-left: 20px;
        margin-top: -3px;
        padding-top: -10px;
        font-size: 13px;
        display: flex;
        flex-direction: row;
    }

   .material-icons{
        color: #707070;
        padding-left: 30px;
        padding-right: 10px;
        padding-top: 0px;
        top: 5em;
    }

}
