.main {
  top: 10%;
  height: 32em;
  width: 38em;
  margin-left: 2em;
  border-radius: 1%;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  row-gap: 1.5em;
}

.text {
  color: #6d6d6d;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  margin: 0;
  margin-left: 1em;
  position: relative;
  left: -15rem;
}
#history {
  margin-top: -1em;
}

/* responsive design */
@media (max-width: 1412px) {
  .main {
    left: 30%;
  }
}
@media (max-width: 1050px) {
  .main {
    left: 45%;
  }
}
@media (max-width: 850px) {
  .main {
    width: 30em;
  }
  .text {
    font-size: 15px;
    left: -10em;
  }
}
@media (max-width: 770px) {
  .main {
    margin-left: 5em;
  }
}
