.acc__info {
  border: none;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  height: 80%;
  width: 100%;
}

.profile__pic {
  height: 12%;
  width: 20%;
  display: block;
  margin-top: 13%;
  margin-left: 30%;
}

.text {
  white-space: nowrap;
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: rgba(112, 112, 112, 1);
  margin: 5% 0;
}

.btns {
  display: flex;
  flex-direction: column;
  margin-top: -3em;
  margin-left: 10%;
}
.btnUser {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0.5em 0;
  padding: 0;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  left: 5em;
  height: 50%;
  width: 100%;
  overflow: hidden;
  margin-left: 10%;
}

.btn.text {
  white-space: nowrap;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  background-color: white;
}

.btn:focus {
  outline: none;
}

.inactive__state {
  display: none;
}

/*edit zone*/
.edit__info__form {
  display: flex;
  flex-direction: column;
  width: 15%;
  left: 3%;
  position: relative;
  height: 100%;
  top: 4em;
}

.edit__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2em 0;
  font-size: small;
  font-family: "Manrope", sans-serif;
  color: rgba(112, 112, 112, 1);
}
.edit__input {
  height: 1.3em;
  width: 9em;
  margin-left: 1em;
}
.btn {
  background-color: #283655;
  height: em;
  width: 8em;
  color: #fff;
}
.save--btn {
  top: 50%;
  left: 15%;
}
.title {
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: -2.5em;
}

/*hide*/
.hide {
  display: none;
}
/* responsive design */
@media (max-width: 850px) {
  .text {
    font-size: 13px;
  }
  .btnUser {
    font-size: 13px;
  }
}
