.panels {
  position: absolute;
  top: 5%;
  left: 20%;
  height: 78%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user__seller--btns {
  position: absolute;
  left: 25%;
  top: 3%;
}

.favorite__history--panel {
  left: 30%;
  position: relative;
}

.statistics__panel {
  position: relative;
  left: 50%;
}
.user__seller--switcher {
  position: absolute;
  top: 3%;
  left: 22%;
}
/* responsive design */

