/* You can add global styles to this file, and also import other style files */
/* 
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} */

.cdk-overlay-pane {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pclass .mat-dialog-container {
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 0px;
    background-color: rgba(40,54,85,0.929);
    width: fit-content;
    max-width: 900px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    scrollbar-width: none !important;
}
