/* You can add global styles to this file, and also import other style files */


@import url(../node_modules/font-awesome/css/font-awesome.css);
@import '~swiper/swiper-bundle';
html,
body {
    height: 100%;
}


body {
    margin: 0;
}


.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 12vh;
}

.swiper-pagination {
    display: none;
}
.mat-drawer-container {
    position: relative !important;
    z-index: 1;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: hidden;
}
.cdk-overlay-pane{

position: relative !important;
/* top: -2370px !important; */
width: 220px;
padding-right: 20px !important; 
z-index: 10 !important;
margin-top: 15px !important;
margin-left: 80vw;
}

