<swiper [slidesPerView]="2.6" [spaceBetween]="50" [pagination]="{ type: 'fraction' }" [navigation]="true" [breakpoints]="breakpoints">

    <ng-template class="carousel-container" swiperSlide *ngFor="let item of data">
        <div class="image-container" (click)="onSelect(item)">
            <img class="images" src="" alt="image" />
            <div class="image-description">

                <div class="details">{{item.currentPrice}} $ </div>
                <div class="details">{{item.description}} </div>
                <div class="details">Address: {{item.address}}</div>

            </div>
        </div>
        

    </ng-template>

</swiper>
<router-outlet></router-outlet>