  .center {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: absolute;
    top: 7%;
    left: 25%;
    width: 75%;
  }
  
  .edit-form{
    margin-top: 5%;
  }
  app-user-info {
    display: block;
    height: 100%;
    padding: 0 0 0 10px;
    overflow: hidden;
  }
  
  