.center {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  position: absolute;
  top: 7%;
  left: 25%;
  width: 75%;
}

.edit-form {
  margin-top: 5%;
}
.user__info {
  width: 20%;
  height: 90%;
}
