<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="standard">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPasswd" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Confirm New Password</mat-label>
        <input matInput formControlName="confirmPasswd" [type]="hideConfirm ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button">
        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <p>
        <button mat-raised-button type="submit" [disabled]="!resetForm.valid" (click)="onSubmit()">Submit</button>
    </p>
</form>