.pagination-listing {
  position: relative;
  /*margin: 2vw 0*/
}

#search-input-wrapper {
  display: flex;
  flex-direction: column;
  background: #DFDFDF 0% 0% no-repeat padding-box;
  width: 30%;
}

#search-form input[type="text"] {
  padding: 1.05vw;
  width: 55vw;
  border: 0;
  border-radius: 300px 300px 300px 300px;
  background: #DFDFDF 0% 0% no-repeat padding-box;
  margin-left: 13%;
  margin-top: 1%;
  margin-bottom: 5%;
}

#submit {
  background: none;
  border: none;
  left: 68%;
  top: 11%;
  position: absolute;
}

.browsing {
  font-size: 3em;
  font-weight: bold;
  color: rgb(97, 97, 97);
  margin-left: 14%;
}

.form {
  display: flex;
  flex-direction: row;
}

.form1,
select {
  margin-left: 14%;
  margin-top: 3%;
  border-radius: 180px 180px 180px 180px;
  color: grey;
  font-size: 1.25em;
}

.form2,
select {
  margin-left: 1.5%;
  margin-top: 3%;
  border-radius: 180px 180px 180px 180px;
  color: grey;
  font-size: 1.25em;
}

.form3,
select {
  margin-left: 1.5%;
  margin-top: 3%;
  border-radius: 180px 180px 180px 180px;
  color: grey;
  font-size: 1.25em;
}

.form4,
select {
  margin-left: 1.5%;
  margin-top: 3%;
  border-radius: 180px 180px 180px 180px;
  color: grey;
  font-size: 1.25em;
}

.form5,
select {
  margin-left: 1.5%;
  margin-top: 3%;
  border-radius: 180px 180px 180px 180px;
  color: grey;
  font-size: 1.25em;
}

.form6,
select {
  margin-left: 1.5%;
  margin-top: 3%;
  border-radius: 180px 180px 180px 180px;
  color: grey;
  font-size: 1.25em;
}


.list{
  display:flex;
  margin-left: 2vw;
  margin-top: 1vw;
  border: 3px solid #ccc;
  padding: 10px;
  box-shadow: -0.3em 0 .4em #ccc, -0.3em 0 .4em #ccc;
}

.images {
  position: relative;
  width: 25vw;
  height: 25vw;
  display: flex;
}
#favorite{
  display: flex;
  position: absolute;
  margin-top: -25vw;
  margin-left: 2vw;
}


.house-description{
  display: flex;
  margin-top: 1vw;
  margin-left: 1vw;

}
.house-details-wrapper{
  margin-top: 1vw;
  margin-left: 1vw;
  
}


.details.title{
  font-size:3vw;
  color: rgba(43, 57, 81, 255);
  margin-left: 2vw;

}
.details.location{
  font-size:2.5vw;
  margin-top: 1vw;

}
.additional-info{
  display:flex;
  flex-direction: row;
  
  
}
.details.room{
  display: flex;
  font-size:2vw;
  margin-top:6vw;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 25px;
  padding-left: 1.5vw;
  width:10vw;
  
}

.details.surface{
  display: flex;
  font-size:2vw;
  margin-left:2vw;
  margin-top: 6vw;  
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 25px;
  padding-left: 3vw;
  width:13vw;
  
}
.details.type{
  display: flex;
  font-size:2vw;
  margin-left:2vw; 
  margin-top: 6vw;   
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 25px;
  padding-left: 1.5vw;
  width:10vw;

}

.price-wrapper{
 
  margin-top:1vw;
  margin-left:8vw;
}
.details.price{
  display: flex;
  color: rgba(43, 57, 81, 255);
  font-size: 3vw;
 
}
.details.detail{
  width:15vw;
  font-size:2vw;
  margin-left: -2vw;
  margin-top: 10vw;
  background-color: rgba(43, 57, 81, 255);
  border-radius: 23px;
  border: 1px solid #ccc;
  
  
}
a {
  text-decoration: none;
  color:white;
}

