.html {
    background-color: #283655;
    font-family: 'Segoe UI';
    text-decoration: none;
    font-size: 1vw !important;
    color: #ffffff;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 7%;
}
.glass {
    width: 93%;
    background-color: white;
    border-radius: 2rem;
    margin-top: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 8em;
}

@media screen and (max-width:1000px) {
    mat-form-field{
        font-size: 20px;
    }
}

